 API_KEY=
 BASE_URL=https://url-shortener-server.onrender.com
 IS_PRODUCTION=false
 MOCK_LOCATION=false
 MOCK_LATITUDE=0.0
 MOCK_LONGITUDE=0.0
 MOCK_USER_TOKEN=
 MOCK_USER_EMAIL=
 MOCK_USER_PASSWORD=
 SHOULD_SKIP_AUTHENTICATION=

